.book__rate {
  display: flex;
  margin-top: 10px;
}

.book__rate:hover .rate {
  background-image: url('../../../images/starRate.svg');
}

.book__rate .rate:hover~.rate {
  background-image: url('../../../images/emptyStar.svg');
}