.round-pic {
  border-radius: 50%;
  overflow: hidden;
  width: 400px;
  height: 400px;
}

img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.octogon-pic,
.octogon-pic div {
  transform-origin: 50% 50%;
  overflow: hidden;
  width: 400px;
  height: 400px;
}

.octogon-pic {
  transform: rotate(45deg);
}

.octogon {
  transform: rotate(-45deg);
}