.account-block__button {
  margin-right: 20px;
  padding: 0;
  width: 18px;
  height: 18px;
  background-image: url('../../../images/accountBtn.svg');
  background-size: 18px;
  background-color: transparent;
  filter: invert();
  border: none;
  cursor: pointer;
}